<!DOCTYPE html>
<html lang="en">
<head>
    <title>D&D Dating</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Adds in the stylesheet forms from Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">D&D Party Dating</a>
</nav>

<div class="container border rounded-lg mt-3">
    <!--Makes the containers for the columns-->
    <div class="row">
        <div class="col-sm-5 text-center" >
            <h2>Welcome to the D&D Party Dating site!</h2>
            <p class="text-left">Do you need a friend to help you crawl through that dungeon? Do you need
                a partner to help you fight that dreaded Beholder? Do you need a teammate
                that can heal you, or that you can heal?</p>
            <p class="text-left">Welcome to The Dungeon Crawler Dating Site! We will help you find the
                right party member for any quest!</p>
            <h3 class="mb-3">Hear what our users are saying about us.</h3>
            <div class="border-top border-bottom m-3">
                <div>
                    <p class="text-left m-3">"I found my perfect Cleric!" - Rogue</p>
                    <p class="text-left m-3">"I found my true love, my BARD!" - Barbarian</p>
                    <p class="text-left m-3">"My Warlock couldn't be better!" - Ranger</p>
                </div>
            </div>
                <form method="GET" action="profile-start">
                    <button class="rounded-lg btn btn-primary content-center" type="submit">Create a Profile!</button>
                </form>
        </div>
        <div class="col-sm-7">
            <img src="images/classes.jpg" class="img-fluid rounded-lg" style="" alt="Classes">
        </div>
    </div>
</div>
</body>
</html>
