<!DOCTYPE html>
<html lang="en">
<head>
    <title>D&D Dating</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Adds in the stylesheet forms from Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/328/dating">D&D Party Dating</a>
</nav>
<div class=" p-2 border rounded m-5">
    <!--Start of the form -->
    <form method="POST" action="#">
        <!-- Title -->
        <div class="form-row">
            <h1 class="border-bottom col">Interests</h1>
        </div>

        <!-- Indoor Checkboxes -->
        <div class="form-row">
            <label class="font-weight-bold d-block col-md-12">Indoor Interests</label>
        </div>
        <div class="ml-2">
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="indoor[]" id="trade" value="trading">
                <label class="form-check-label" for="trade">Trading</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="indoor[]" id="games" value="dragon-chess">
                <label class="form-check-label" for="games">Dragon Chess</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="indoor[]" id="drink" value="drinking">
                <label class="form-check-label" for="drink">Drinking</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="indoor[]" id="read" value="reading">
                <label class="form-check-label" for="read">Reading</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="indoor[]" id="pocket" value="pickpocketing">
                <label class="form-check-label" for="pocket">Pick-pocketing</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="indoor[]" id="lock" value="lock-picking">
                <label class="form-check-label" for="lock">Lock-Picking</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="indoor[]" id="story" value="story-telling">
                <label class="form-check-label" for="story">Story-telling</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="indoor[]" id="smith" value="smithing">
                <label class="form-check-label" for="smith">Smithing</label>
            </div>
        </div>

        <!-- Outdoor Checkboxes -->
        <div class="form-row">
            <label class="font-weight-bold d-block col-md-12">Outdoor Interests</label>
        </div>
        <div class="ml-2">
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="outdoor[]" id="spell" value="spellcasting">
                <label class="form-check-label" for="spell">Spell-casting</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="outdoor[]" id="ride" value="horse-riding">
                <label class="form-check-label" for="ride">Horse-Riding</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="outdoor[]" id="hide" value="hiding">
                <label class="form-check-label" for="hide">Hiding</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="outdoor[]" id="loot" value="looting">
                <label class="form-check-label" for="loot">Looting</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="outdoor[]" id="fight" value="fighting">
                <label class="form-check-label" for="fight">Fighting</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" name="outdoor[]" id="heal" value="healing">
                <label class="form-check-label" for="heal">Healing</label>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <!--End of the form-->
</div>
</body>
</html>