<!DOCTYPE html>
<html lang="en">
<head>
    <title>D&D Dating</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Adds in the stylesheet forms from Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Navbar-->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/328/dating">D&D Party Dating</a>
</nav>
<div class="alert alert-danger d-none" role="alert"></div>
<div class=" p-2 border rounded m-5">
    <!--Start of the form -->
    <form method="POST" action="#">
        <!--String fields -->
        <div class="form-row">
            <h1 class="border-bottom col">Profile</h1>
        </div>
        <!--Left side-->
        <div class="form-row">
            <div class="col-md-6 h-100">

                <!-- Email -->
                <label class="font-weight-bold" for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="Enter Email Here" value="" required>
                <check if="{{ @errors['email'] }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check>

                <!-- State -->
                <label class="font-weight-bold" for="state">State</label>
                <select class="form-control" name="state" id="state">
                    <option>Prefer not to say</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Arizona</option>
                    <option>Arkansas</option>
                    <option>California</option>
                    <option>Colorado</option>
                    <option>Connecticut</option>
                    <option>Delaware</option>
                    <option>Florida</option>
                    <option>Georgia</option>
                    <option>Hawaii</option>
                    <option>Idaho</option>
                    <option>Illinois</option>
                    <option>Indiana</option>
                    <option>Iowa</option>
                    <option>Kansas</option>
                    <option>Kentucky</option>
                    <option>Louisiana</option>
                    <option>Maine</option>
                    <option>Maryland</option>
                    <option>Massachusetts</option>
                    <option>Michigan</option>
                    <option> Minnesota</option>
                    <option>Mississippi</option>
                    <option>Missouri</option>
                    <option>Montana</option>
                    <option>Nebraska</option>
                    <option>Nevada</option>
                    <option>New Hampshire</option>
                    <option>New Jersey</option>
                    <option>New Mexico</option>
                    <option>New York</option>
                    <option>North Carolina</option>
                    <option>North Dakota</option>
                    <option>Ohio</option>
                    <option>Oklahoma</option>
                    <option>Oregon</option>
                    <option>Pennsylvania</option>
                    <option>Rhode Island</option>
                    <option>South Carolina</option>
                    <option>South Dakota</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Utah</option>
                    <option>Vermont</option>
                    <option>Virginia</option>
                    <option>Washington</option>
                    <option>West Virginia</option>
                    <option>Wisconsin</option>
                    <option>Wyoming</option>
                </select>
                <!-- Seeking -->
                <label class="font-weight-bold d-block col-">Seeking</label>
                <check if="{{ @errors['seeking'] }}">
                    <span class="err">{{@errors['seeking']}}</span>
                </check>
                <div class="form-check form-check-inline" id="radio-button">
                    <input class="form-check-input" type="radio" name="seeking" id="Male" value="male"
                           checked="checked">
                    <label class="form-check-label" for="Male">
                        Male
                    </label>
                </div>
                <div class="form-check form-check-inline" id="gender">
                    <input class="form-check-input" type="radio" name="seeking" id="Female" value="female" >
                    <label class="form-check-label" for="Female">
                        Female
                    </label>
                </div>
            </div>
            <!-- Right Side -->
            <div class="col-md-6 h-100">
                <!-- Bio -->
                <div class="form-group">
                    <label class="font-weight-bold" for="bio">Biography</label>
                    <textarea class="form-control overflow-auto" id="bio" name="bio" rows="6"></textarea>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Next ></button>
        </div>
    </form>
</div>
</body>
</html>